<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>MobaQuest</title>
    <meta name="theme-color" content="#254E76">
    <meta name="msapplication-navbutton-color" content="#254E76">
    <meta name="apple-mobile-web-app-status-bar-style" content="#254E76">
    <link href="/html-modules/style.css?ver=<%=pageInfo.fileVersion%>" rel="stylesheet">
    <link href="/html-modules/jquery-ui.css?ver=<%=pageInfo.fileVersion%>" rel="stylesheet">

    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    <meta property="og:title" content="MobaQuest" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://mobaquest.herokuapp.com" />
    <meta property="og:site_name" content="MobaQuest" />
    <meta property="og:description" content="Because Operator Training is a must." />
    <meta property="og:image" content="https://mobaquest.herokuapp.com/MobaquestOG.jpg" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/html-modules/jquery.js"></script>
    <script src="/html-modules/jqueryui.js"></script>
  </head>
  <body>
    <div id="site-image" style="display:none"><img src="/MobaquestOG.jpg"></div>
    <div id="site-background"></div>
    <header>
      
    </header>
    <div id="site-wrap">