<%- include ("partials/header") -%>
	<div class="contentWrap">Hi</div>
	<script>
		var quest	=	<%- JSON.stringify(quest) %>;
	</script>
	<script src="/html-modules/sortable.js"></script>
	<script src="/html-modules/connectAnswersFunctions.js"></script>
	<script src="/html-modules/loadQuest.js"></script>
<%- include ("partials/footer") -%>