@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,::after,::before{
    box-sizing:border-box
}
html{
    font-family:sans-serif;
    line-height:1.15;
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:transparent;
    overflow-y: scroll;
    overflow-y: overlay;
}
article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{
    display:block
}
body{
    margin:0;
    font-family: Helvetica, sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:rgb(255,255,255);
    text-align:left;
    background-color:#fff;
}

#site-background{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -5;
    background-color: rgb(37,78,118);
    background-image: linear-gradient(rgb(20,42,64), rgb(37,78,118));;
}

[tabindex="-1"]:focus{
    outline:0!important
}

b,strong{
    font-weight:bolder
}
sub,sup{
    position:relative;
    font-size:75%;
    line-height:0;
    vertical-align:baseline
}
sub{
    bottom:-.25em
}
sup{
    top:-.5em
}
a{
    color:rgb(17,97,73);
    text-decoration:none;
    font-weight:700;
    background-color:transparent;
    text-shadow: 0px 0px 2px rgba(19, 170, 82, 0);
    -webkit-transition:all ease 0.1s;
    -moz-transition:all ease 0.1s;
    -ms-transition:all ease 0.1s;
    -o-transition:all ease 0.1s;
    transition:all ease 0.1s;
}
a:hover{
    color:rgb(19, 170, 82);
    text-shadow: 0px 0px 2px rgba(19, 170, 82, 1);
}
pre{
    margin-top:0;
    margin-bottom:1rem;
    overflow:auto
}
img{
    vertical-align:middle;
    border-style:none;
    max-width:100%;
}
table{
    border-collapse:collapse
}
caption{
    padding-top:.75rem;
    padding-bottom:.75rem;
    color:#6c757d;
    text-align:left;
    caption-side:bottom
}
label{
    display:inline-block;
    margin-bottom:.5rem
}
button{
    border-radius:0
}
button:focus{
    outline:1px dotted;
    outline:5px auto -webkit-focus-ring-color
}
button,input,optgroup,select,textarea{
    margin:0;
    font-family:inherit;
    font-size:inherit;
    line-height:inherit
}
input{
    width:100%;
}
button,input{
    overflow:visible
}
button,select{
    text-transform:none
}
select{
    word-wrap:normal
}
[type=button],[type=reset],[type=submit],button{
    -webkit-appearance:button
}
[type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled),button:not(:disabled){
    cursor:pointer
}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{
    padding:0;
    border-style:none
}
input[type=checkbox],input[type=radio]{
    box-sizing:border-box;
    padding:0
}
input[type=date],input[type=datetime-local],input[type=month],input[type=time]{
    -webkit-appearance:listbox
}
textarea{
    overflow:auto;
    resize:vertical
}
legend{
    display:block;
    width:100%;
    max-width:100%;
    padding:0;
    margin-bottom:.5rem;
    font-size:1.5rem;
    line-height:inherit;
    color:inherit;
    white-space:normal
}
progress{
    vertical-align:baseline
}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{
    height:auto
}
[type=search]{
    outline-offset:-2px;
    -webkit-appearance:none
}
[type=search]::-webkit-search-decoration{
    -webkit-appearance:none
}
::-webkit-file-upload-button{
    font:inherit;
    -webkit-appearance:button
}
[hidden]{
    display:none!important
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255,255,255,0);
  border-radius:3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.5);
    border:1px solid rgba(255,255,255,0.5);
    border-radius:3px;
    -webkit-transition:all ease 0.2s;
    -moz-transition:all ease 0.2s;
    -ms-transition:all ease 0.2s;
    -o-transition:all ease 0.2s;
    transition:all ease 0.2s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,1);
    border:1px solid rgba(255,255,255,1);
}

.relative{
    position:relative;
}

.center{
    text-align:center;
}

.centered{
    margin-left:auto;
    margin-right:auto;
}

.noselect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noOverflow{
    overflow-y:hidden !important;
}

.questWrap {
    width: 540px;
    padding: 10px 20px;
    margin: 0 auto;
    z-index: 15;
    background-color: rgb(255,255,255);
    color:rgb(9,18,27);
    position: relative;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    overflow-x:hidden;
    border-radius: 2px;
    padding-bottom: 70px;
    -webkit-user-select: none;      
    -moz-user-select: none; 
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* width */
.questWrap::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.questWrap::-webkit-scrollbar-track {
  background: rgba(255,255,255,0);
  border-radius:3px;
}

/* Handle */
.questWrap::-webkit-scrollbar-thumb {
    background: rgb(37,78,118);
    border:1px solid rgba(255,255,255,0.7);
    border-radius:3px;
    -webkit-transition:all ease 0.2s;
    -moz-transition:all ease 0.2s;
    -ms-transition:all ease 0.2s;
    -o-transition:all ease 0.2s;
    transition:all ease 0.2s;
}

/* Handle on hover */
.questWrap::-webkit-scrollbar-thumb:hover {
    background: rgb(20,42,64);
}

.questTitle{
    color:rgb(20,42,64);
    font-size:20px;
    font-weight:600;
    text-align:center;
    margin-bottom:8px;
}

.questionsWrap{
    position:relative;
}

.questionWrap{
    position:absolute;
    width:100%;
    right:0%;
    top:0;
    padding-bottom:50px;
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
    background-color:rgb(255,255,255);
}

.questionHiddenLeft{
    left:-110%;
}
.questionHiddenRight{
    left:110%;
}

.questionActive{
    right:0%;
    left:0%;
}

.button{
    padding: 6px;
    border-radius: 2px;
    cursor: pointer;
    background-color: rgb(0,50,99);
    color: rgb(255,255,255);
    border: 3px outset rgba(0,50,99,0.5);
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;    
}

.button:active{
    background-color: rgb(37,78,118);
    border: 3px inset rgba(37,78,118,0.5);
}

.buttonInactive{
    background-color: rgb(255,255,255) !important;
    color: rgba(150,150,150,1) !important;
    border: 3px solid rgb(150,150,150) !important;
    pointer-events: none;
}

.questControls{
    position: fixed;
    bottom: 60px;
    width: 540px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: rgb(255,255,255);
    padding-top: 5px;
    border-top: 2px solid rgb(50,50,50);
    font-size:12px;
    text-align:center;
}

.questControls .button{
    width: 35%;
    display:inline-block;
}

.questControls #number{
    width: 30%;
    display:inline-block;
    margin-right:-4px;
    margin-left:-4px;
    color:rgb(20,42,64);
    font-weight: 600;
}

.questionWrap .correctAnswers{
    display:none;
    font-size:12px;
    color:rgb(0,200,0);
    font-weight:600;
    margin-top:7px;
}

.finished .questionWrap .correctAnswers{
    display:block;
}

.questionText{
    font-size:14px;
    font-weight:400;
    margin-bottom:7px;
}

.questionWrap .score{
    font-size:14px;
    font-weight:600;
    text-align:center;
    margin-top:20px;
}

.questionWrap .score span{
    font-weight:900;
}

.questionType1 .answer{
    font-size:12px;
    font-weight:500;
    text-align:center;
    margin-bottom:10px;
}

.questionType1 .answerSelected{
    background-color: rgb(255,255,255);
    color: rgb(0,50,99);
    border: 3px inset rgba(37,78,118,0.5);
    font-weight:800;
}

.finished{
    pointer-events:none;
}

.finished .questionType1 .correct{
    box-shadow:0 0 0px 4px rgb(0,235,0);
}

.questionType2 .imageWrap{
    position:relative;
}

.questionType2 .answer{
    position:absolute;
    z-index:10;
}

.finished .questionType2 .correct{
    background-color:rgba(0,235,0,0.4);
}

.questionType2 .imageAnswer{
    width:25px;
    height:25px;
    border:1px solid rgb(255,255,255);
    background: rgb(20,42,64);
    background: radial-gradient(circle, rgba(37,78,118,1) 0%, rgba(20,42,64,1) 100%);
    position:absolute;
    z-index:20;
    border-radius:25px;
    box-shadow:2px 2px 2px rgba(0,0,0,0.8);
}

.questionType2 .imageOverlay{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(255,255,255,0);
    z-index:25;
}

.questionType3 ul{
    list-style:none;
    margin:0;
    padding:0;
}

.questionType3 .answer{
    font-size:12px;
    border:1px solid rgb(20,42,64);
    padding:4px;
    margin:4px auto;
    background-color:rgb(255,255,255);
    -webkit-cursor:grab;
    cursor:grab;
}

.questionType3 .sortable-chosen{
    border:1px dashed rgb(20,42,64) !important;
    -webkit-cursor:grabbing !important;
    cursor:grabbing !important;
}

.questionType4 .answer{
    background-color: rgb(0,50,99);
    border: 2px solid rgb(255,255,255);
    padding: 6px;
    cursor: pointer;
    border-radius: 2px;
    color: rgb(255,255,255);
    margin-bottom: 25px;
    font-size: 12px;
    text-align:center;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}


.questionType4 .answer img{
    max-height:25px;
}

.questionType4 .drawCanvasWrap{
    position:relative;
    z-index:5;
}

.questionType4 .dragCanvas{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:5;
    cursor:pointer;
}

.questionType4 .drawCanvas{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:0;
}

.questionType4 .dragTable{
    width:100%;
}

.questionType4 .dragTable td{
    width:50%;
    vertical-align:top;
    padding:0 10%;
}

.questionType4 .answered{
    background-color:rgb(255,255,255);
    color:rgb(0,50,99);
}

.questionType4 .correctTable{
    width:100%;
}

.questionType4 .correctTable td{
    width:50%;
    vertical-align:middle;
}

.questionType4 .correctTable tr{
    background-color: rgb(0,50,99);
    border-bottom:3px solid rgb(255,255,255);
}

.questionType4 .correctTable .correctAnswer{
    padding: 6px;
    cursor: pointer;
    border-radius: 2px;
    color: rgb(255,255,255);
    margin-bottom:3px;
    font-size: 12px;
    text-align:center;
}

.questionType4 .correctTable .correctAnswer img{
    max-height:25px;
}

.questionType5 .imageWrap{
    position:relative;
}

.questionType5 .activePoint{
    position:absolute;
    z-index:5;
    background-color:rgba(0,50,99,0.35);
    color:rgb(255,255,255);
    text-shadow:2px 2px 2px rgb(0,0,0);
    text-align:left;
    border-radius:2px;
    border:1px solid rgb(255,255,255);
    font-size:12px;
    font-weight:600;
    padding:2%;
}

.questionType5 .answerTitle{
    font-weight:600;
    font-size:14px;
}

.questionType5 .answerWrap:first-child{
    margin-top:15px;
}

.questionType5 .asnwerWrap{
    margin-bottom:7px;
}

.questionType5 textarea{
    width:100%;
    border-radius:2px;
    border:1px solid rgb(0,50,99);
    background-color:rgba(0,50,99,0);
    font-size:12px;
    height:125px;
    resize:none;
    outline:none;
    padding:5px;
    -webkit-transition: all ease 0.25s;
    -moz-transition: all ease 0.25s;
    -ms-transition: all ease 0.25s;
    -o-transition: all ease 0.25s;
    transition: all ease 0.25s;
}

.questionType5 textarea:focus{
    background-color:rgba(0,50,99,0.2);
}

.questionType5 .correctAnswers{
    margin-top:0px !important;
    margin-bottom:7px;
}

.questionType6 textarea{
    width:100%;
    border-radius:2px;
    border:1px solid rgb(0,50,99);
    background-color:rgba(0,50,99,0);
    font-size:12px;
    height:125px;
    resize:none;
    outline:none;
    padding:5px;
    -webkit-transition: all ease 0.25s;
    -moz-transition: all ease 0.25s;
    -ms-transition: all ease 0.25s;
    -o-transition: all ease 0.25s;
    transition: all ease 0.25s;
}

.questionType6 textarea:focus{
    background-color:rgba(0,50,99,0.2);
}


#result{
    font-size:14px;
    font-weight:600;
    text-align:center;
    margin-top:20px;
}

#result span{
    font-weight:900;
}







.questEditorWrap {
    width: 640px;
    padding: 10px 20px;
    padding-left:60px;
    margin: 0 auto;
    z-index: 15;
    background-color: rgb(255,255,255);
    color:rgb(9,18,27);
    position: relative;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    overflow-x:hidden;
    border-radius: 2px;
    padding-bottom: 70px;
}

/* width */
.questEditorWrap::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.questEditorWrap::-webkit-scrollbar-track {
  background: rgba(255,255,255,0);
  border-radius:3px;
}

/* Handle */
.questEditorWrap::-webkit-scrollbar-thumb {
    background: rgb(37,78,118);
    border:1px solid rgba(255,255,255,0.7);
    border-radius:3px;
    -webkit-transition:all ease 0.2s;
    -moz-transition:all ease 0.2s;
    -ms-transition:all ease 0.2s;
    -o-transition:all ease 0.2s;
    transition:all ease 0.2s;
}

/* Handle on hover */
.questEditorWrap::-webkit-scrollbar-thumb:hover {
    background: rgb(20,42,64);
}

.questEditorWrap .titleWrap {
    color: rgb(20,42,64);
    font-size: 20px;
    text-align: center;
    margin-bottom: 8px;
    padding-bottom:8px;
    border-bottom:2px solid rgb(50,50,50);
}


.questEditorWrap .title{
    font-size:20px;
    font-weight:500;
    text-align:center;
    margin-bottom:5px;
}

.questEditorWrap .titleWrap .text{
    font-weight:500;
    padding-right:5px;
    display:inline-block;
    vertical-align:middle;
    width:26%;
    text-align:left;
}

.questEditorWrap .titleWrap .inputWrap{
    display:inline-block;
    margin-right:-6px;
    width:74%;
}

.questEditorWrap .titleWrap .inputWrap input{
    font-weight:600;
    text-align:center;
}


.questEditorWrap .titleWrap .inputWrap input:focus{
    background-color:rgba(20,42,64,0.1);
}


.questEditorWrap .questionTypeButtonsWrap{
    text-align:center;
}

.questEditorWrap .questionTypeButtonsWrap .button{
    background-color:rgb(240,240,240);
    color:rgb(20,42,64);
    font-size:24px;
    line-height:24px;
    font-weight:700;
    display:inline-block;
    vertical-align:middle;
    margin-left:-5px;
    position:relative;
    padding-top:20px;
    padding-bottom:5px;
}


.questEditorWrap .questionTypeButtonsWrap .buttonActive{
    background-color:rgb(20,42,64);
    color:rgb(255,255,255) !important;
    border-style:inset;
}

.questEditorWrap .questionTypeButtonsWrap .button .info{
    position:absolute;
    top:0;
    right:0;
}


.questEditorWrap .questionTypeButtonsWrap .button .info .tooltip{
    display:none;
    position:absolute;
    top:15px;
    right:-100px;
    width:100px;
    font-size:12px;
    background-color:rgb(232,241,0);
    color:rgb(50,50,50);
    padding:5px;
    border:1px solid rgb(50,50,50);
    box-shadow:1px 1px 1px rgba(0,0,0,0.5);
    z-index: 10;
    line-height:normal;
    font-weight:300;
}


.questEditorWrap .questionTypeButtonsWrap .button .info img{
    display:block;
}


.questEditorWrap .questionTypeButtonsWrap .button .info:hover .tooltip{
    display:block;
}

.questEditorWrap .questionNumbersWrap{
    position:absolute;
    background-color:rgb(255,255,255);
    border:1px solid rgb(20,64,42);
    top:0;
    bottom:0;
    left:0px;
    z-index:50;
    text-align:center;
    padding:5px;
    padding-top:50px;
    overflow-y:scroll;
}


.questEditorWrap .questionNumbersWrap ul{
    list-style: none;
    margin:0;
    padding:0;
}

.questEditorWrap .questionNumbersWrap .button{
    background-color:rgb(240,240,240);
    color:rgb(20,42,64);
    font-size:24px;
    line-height:24px;
    font-weight:700;
}

.questEditorWrap .questionNumbersWrap .buttonActive{
    background-color:rgb(20,42,64);
    color:rgb(255,255,255) !important;
    border-style:inset;
}

.questEditorWrap .questionNumbersWrap .addQuestion{
    background-color:rgb(20,42,64) !important;
    color:rgb(255,255,255) !important;
    margin-top:15px;
}


.questEditorWrap .questionWrap{
    position:relative;
}

.questEditorWrap .questionText{
    width:100%;
    resize:none;
    padding:5px;
    font-size:14px;
    font-weight:400px;
}

.questEditorWrap .questionText:focus{
    background-color:rgba(20,42,64,0.1);
}

.questEditorWrap .questionType{
    display:none;
}

.questEditorWrap .addAnswerButton{
    text-align:center;
    width:auto;
    margin:0 auto;
    font-size:14px;
    text-align:center;
    padding:3px;
}

.questEditorWrap .questionType .answerWrap{
    position:relative;
    margin-bottom: 10px;
    padding-bottom:10px;
    border-bottom:2px solid rgb(50,50,50);
}


.questEditorWrap .questionType .answerWrap input{
    text-align:center;
}

.questEditorWrap .questionType .answerWrap .killAnswer{
    display:inline-block;
    background-color:rgb(250,0,0);
    color:rgb(255,255,255);
    font-weight:600;
    cursor:pointer;
    top:-10px;
    right:-10px;
    z-index:10;
    position:absolute;
    padding:5px;
    border-radius:3px;
}


.questEditorWrap input{
    border:2px inset rgba(0,0,0,0.4);
    background-color:rgba(255,255,255,1);
    outline:none;
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
}


.questEditorWrap input:focus{
    background-color:rgba(20,42,64,1);
    color:rgb(255,255,255);
}

.questEditorWrap .questionButtonsWrap{
    text-align:right;
}

.questEditorWrap .questionButtonsWrap .button{
    display:inline-block;

}

.questEditorWrap .questionButtonsWrap .deleteQuestion{
    background-color:rgb(250,0,0);
}


.questEditorWrap .questionTypes .questionType:nth-child(3) .answerWrap{
    border:1px solid rgb(20,42,64);
    font-size:12px;
    padding:4px;
    margin:4px auto;
    margin-bottom:10px;
}

.questEditorWrap .questionTypes .questionType:nth-child(3) .answerWrap input{
    text-align:left;
}


.questEditorWrap .questionTypes .questionType:nth-child(4) .answerWrap .answer{
    display:inline-block;
    background-color:rgb(20,42,64);
    border-radius:2px;
    width:50%;
    vertical-align:middle;
    text-align:center;
    border:2px solid rgb(255,255,255);
    margin-right:-5px;
    padding:10px;
}

.questEditorWrap .questionTypes .questionType:nth-child(6) .correctStory{
    width:100%;
    resize:none;
    height:200px;
}

.questEditorWrap .questionTypes .questionType:nth-child(2) .imageWrap{
    position:relative;
}


.questEditorWrap .questionTypes .questionType:nth-child(2) .imageWrap .imageAnswer{
    position:absolute;
    z-index:10;
    top:0;
    left:0;
    width:30px;
    height:30px;
    background-color:rgba(0,235,0,0.4);
    border:2px solid rgb(255,255,255);
    outline: rgb(0,0,0) solid 2px;
    max-width:90%;
    max-height:90%;
    min-width: 2%;
    min-height:2%;
}

.questEditorWrap .questionTypes .questionType:nth-child(5) .imageWrap{
    position:relative;
}


.questEditorWrap .questionTypes .questionType:nth-child(5) .imageWrap .imageAnswer{
    position:absolute;
    z-index:10;
    top:0;
    left:0;
    width:30px;
    height:30px;
    background-color:rgba(0,235,0,0.4);
    border:2px solid rgb(255,255,255);
    outline: rgb(0,0,0) solid 2px;
    max-width:90%;
    max-height:90%;
    min-width: 2%;
    min-height:2%;
}





@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1100px) {
    
}

@media only screen and (max-width: 1000px) {
    
}

@media only screen and (max-width: 960px) {/*tablet*/
    
}

@media only screen and (max-width: 900px) {
    
}

@media only screen and (max-width: 800px) {

}

@media only screen and (max-width: 700px) {
    
}

@media only screen and (max-width: 650px) {

}

@media only screen and (max-width: 600px) {
    .questWrap{
        width:90%;
    }

    .questControls{
        left: 5%;
        width: 90%;
        margin-left: 0;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);

    }
}

@media only screen and (max-width: 500px) {
    
}